.bg-orange {
    background-color: #FC3515;
}

.bg-navy {
    background-color: #2A4D69;
}

.bg-navy-darker {
    background-color: #152E43;
}

.text-navy {
    color: #2A4D69;
}

.text-orange {
    color: #FC3515;
}

.btn-orange {
    background-color: #FC3515;
    color: white;
}

.btn-orange:hover {
    background-color: #d61e02;
    color: white;
}

.btn-navy {
    background-color: #2A4D69;
    color: white;
}

.btn-navy:hover {
    background-color: #1e3f5a;
    color: white;
}

.btn-outline-orange {
    background-color: white;
    color: #FC3515;
    border: 2px solid #FC3515;
}

.btn-outline-orange:hover {
    background-color: #FC3515;
    color: white;
}

.credit-box {
    min-height: 50%;
    background-color:white;
    border-radius: 1.3rem 0 0 1.3rem;
}

/* override bootstrap classes */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #FC3515;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #FC3515;
    border-color: #FC3515;
}

.page-link {
    color: #FC3515;
}